{
    "project":[
        {
            "name":"女神项目",
            "id":"nv",
            "selected":true,
            "outFileName":["theme.js", "main.min.js", "configSetting.js"],
            "ignoreFileName":["index.html", "gameEui.json"],
            "svnIngnoreCommitFile":["config.zzp"]
        },
        {
            "name":"小程序",
            "id":"wxnv",
            "outFileName":[],
            "ignoreFileName":["index.html"],
            "svnIngnoreCommitFile":["config_ios.bin", "config.bin"]
        }
    ]
}