{
    "project":{
        "nv":{
            "name":"女神项目",
            "id":"nv",
            "selected":true,
            "outFileName":["theme.js", "main.min.js", "configSetting.js"],
            "ignoreFileName":["index.html", "gameEui.json"],
            "svnIngnoreCommitFile":["bodyHeight.json"],
            "codepath":"D:/workpublish/trunk/nslm",
            "pubpath":"D:/web",
            "datapath":"D:/pubData"
        },
        "hw":{
            "name":"海外版本",
            "id":"hw",
            "selected":true,
            "outFileName":["theme.js", "main.min.js", "configSetting.js"],
            "ignoreFileName":["index.html", "gameEui.json"],
            "svnIngnoreCommitFile":["bodyHeight.json"],
            "codepath":"D:/publish/hw/code/nslm_hw",
            "pubpath":"D:/web_hw",
            "datapath":"D:/pubData"
        },
        "bs":{
            "name":"版署版本",
            "id":"bs",
            "selected":true,
            "outFileName":["theme.js", "main.min.js", "configSetting.js"],
            "ignoreFileName":["index.html", "gameEui.json"],
            "svnIngnoreCommitFile":["bodyHeight.json"],
            "codepath":"D:/workpublish/trunk/backup/HW/back_1.3",
            "pubpath":"D:/web_hw",
            "datapath":"D:/pubData"
        }
    }
}